@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../public/assets/fonts/Poppins-Regular.woff2") format("woff");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  background-color: #faf9fd;
  box-sizing: border-box;
}

.bg-orange-gradint{
  background: linear-gradient(90deg, rgba(243,140,16,1) 0%, rgba(215,118,0,1) 100%);
}
:focus {
  -webkit-tap-highlight-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.bg-svg{
  background-image: url("../public/assets/icons/bg.svg");
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
   appearance:textfield;
}
.react-time-picker__wrapper{
  border: none !important;
}

.loader{
  background: #ffffff51 url(../public/assets/icons/loader.gif) no-repeat center center;
}
.text-ellips-4line{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #f38c10 !important;

}

.fullscreen-enabled{
  overflow: auto;
}
/* Custom-Scroll */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background:#6582a7; 
}
 
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #536c8b; 
}
 
/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b5b5b5; 
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #83aadb; 
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




.dark input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #20304c inset !important; /* Change the color to your own background color */
  -webkit-text-fill-color: #d1d5db;
}

.dark input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #20304c inset !important;
  -webkit-text-fill-color: #d1d5db;
}
.description{
  overflow: hidden;
  text-overflow: ellipsis !important;
  -webkit-line-clamp: 2 !important;
  white-space: normal !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #808080 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
     transform: rotate(1turn);
  }
}